<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/gossips">The Gossip Project</a>
  <a href="/sessions/destroy"  class="btn btn-primary" data-method = delete> DECONECTION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>

<br>

<div class="text-center">
	<a class="btn btn-primary" href="/gossips/new">Create_Gossip</a> <br><br>

	<% if flash[:success] %>
	<div class="alert alert-success"><%= flash[:success]%></div>
	<% end %>
	</div><br>

<div class="text-center">

	<h1 class="my-4">Bienvenue sur The Gossip Project</h1>

		<table class="table table-bordered">
			<thead>
				<th>Auteur</th>
				<th>Gossips</th>
			</thead>


			<tbody>
				<% @users.each do |user|%>
				<tr>
					<td><%= user.first_name %></td>

					<td>
						<% user.gossips.each do |gossip|%>
							<a href="/gossips/<%= gossip.id %>"><%= gossip.title %></a><br>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
				
		</table>

		 
</div>



