<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand"  href="/user/new">SIGN_UP</a> <br><br>
		<a class="navbar-brand"  href="/sessions/new">SIGN_IN</a> <br><br>
	</nav>
		<h1 class="text-center" style="padding-top: 200px">BIENVENUE A VOUS</h1>
</body>


